body{
  margin:10px;
  text-align: center;
  background-image: url("https://magic-8ball.com/assets/images/magicBallStart.webp");
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 1vh;
  background-color: red;
}
h1{
  text-decoration: underline;
  font-size: 150px;
  color: Gray;
  text-align: ;
}
